h1,
h2,
h3,
p {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3em;
  line-height: 2em;
}

h2 {
  font-size: 2em;
  line-height: 1.4em;
  color: $primaryColour;
  font-weight: 600;
  transition: color $speed;
}

h3 {
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: $spacer;
  color: lighten($primaryColour,15);
}

p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: $spacer;
}
