//
.video-detail {
  padding: $spacer;
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);

  .loading {
    width: 100%;
    position: relative;
    &::after {
      display: block;
      width: 100%;
      position: absolute;
      top: 150px;
      text-align: center;
      font-size: 22px;
      font-family: sans-serif;
      z-index: -1;
      content: 'Loading...';
      padding: 0;
      margin: 0;
    }
  }

  iframe {
    width: 100%;
    min-height: 50vw;
    margin-bottom: $spacer;
    @include tablet {
      min-height: 310px;
    }
  }

  .row {
    @include tablet {
      display: flex;
    }
    p {
      @include tablet {
        width: 50%;
        margin-left: $spacer;
      }
    }
  }

}

.video-information {
  @include tablet {
    margin-left: $spacer;
    width: 50%;
  }
}
